table {
	margin: 50px auto;
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding: 15px;
	border: 3px solid #1c5c1f;
	border-collapse: collapse;
}

.table-image {
	width: 100px;
    height: 100px;
    background-size: cover; /* estas tres lineas son para poner la imagen, no las cambien */
    background-repeat: no-repeat;
	background-position: 50% 50%;
}
