#barra{
	padding:100px;
	color:white;
	font-size: 40px;
	background: #70ad47;
	margin-left: 355px;
	cursor: pointer;
	border-radius: 15px;
	border: 0px;
}
#productos{
	padding:100px;
	color:white;
	font-size: 40px;
	background: #70ad47;
	margin-left: 220px;
	margin-top:0px;
	cursor: pointer;
	border-radius: 15px;
	border: 0px;
	position:absolute;
	
	
}

.buttons{
	margin-top:200px;
	
}
