@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
         url('../fonts/pacifico-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/pacifico-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

#login-title{
text-align: center;
margin-top: 200px;
font-family: Arial, Helvetica, sans-serif;
font-size: 70px;
}
.login{
    margin-top: 150px;
    margin-left: 615px;
    margin-right: 615px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    outline-style: solid;
    outline-color:grey;
    outline-width: 5px;
    width:700px;
    height: 350px;

}

#body{
    background-color:#f2faee;
    min-width: 1900px;

}
.input-box{
    padding: 10px;
    margin-top: 0px;
    margin-left: 140px;
}

#boton-iniciar-sesion{
    padding:30px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    margin-left: 265px;
    margin-top: 50px;
    background-color: #70ad47;
    color:white;
    font-size: 20px;
}
#boton-iniciar-sesion:hover {background-color: grey}
#boton-iniciar-sesion:active {
    background-color:grey;
    transform: translateY(10px);
}


#password{
    margin-left:140px;
    
}
#num-info{
    padding:0px;
    margin-left: 140px;
    margin-top: 50px;
    font-size:25px
}


#contrase-info{
    font-size: 25px;
    margin-left: 140px;
    padding:0px
    
}

#marquet{
text-align: center;
font-size: 50px;
font-family: "Pacifico";
}