#pedidos-titulo{
    text-align: center;
    font-size: 35px;    

}

#pedidos-box{
    background-color: white;
    height: 300px;
    width: 400px;
    border-style: solid;
    border-color: grey;
    border-radius: 15px;
    margin:auto;
    
}
#hacer-pedido{
    padding: 20px;
    background-color: #4CAF50;
    transition-duration: .2s;
    color: white;
    font-size: 25px;
    width: 220px;
    margin-left: -110px;
    border-radius: 15px;
      margin-top: 45px;
    left: 50%; 
    /* margin-right: 50%;  */
    border: 0px;
    cursor: pointer;
    position: relative;
    /* justify-content: center; */

}
#hacer-pedido:hover{
    background-color: grey;
}
